body {
	background: url(../images/background.jpg);
	background-position: 0px 400px;
	background-size: 100% 350%;
}

.container {
	width: 80%;
	position: absolute;
	top: 580px;
	left: 10%;
	padding-bottom: 90px;
}

.jumbotron {
	background: url(../images/webimage.png);
	height: 400px;
}

.individual-gifs {
	float: left;
	margin: 10px;
}

.intro {
	display: block;
	background-color: black;
	color: white;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	font-size: 13px;
	letter-spacing: 1.5px;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 400px;
	padding: 30px;
}

.input-label {
	font-size: 20px;
	color: black;
}

.movie-btn {
	background-color: #4C97FF;
	border-radius: 5px;
	border: none;
	padding: 10px 15px 10px 15px;
	margin: 5px;
	color: white;
}

.movie-btn:hover {
	background-color: #264B7F;
}

.rating-text {
	font-size: 20px;
	color: white;
	font-weight: bold;
}

#movie-buttons {
	width: 100%;
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 2px;
}

#add-movie {
	background-color: #4C97FF;
	border: none;
	color: white;
	margin-top: 14px;
	padding: 10px;
	font-size: 18px;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1.5px;
}

#add-movie:hover {
	background-color: #264B7F;
}

#sticky {
   	position: fixed;    /*Here's what sticks it*/
	bottom:0;          	/*to the bottom of the window*/
	left:0;            /*and to the left of the window.*/
	width: 100%;
   	padding-top: 10px;
   	background: #89A3B0;
   	text-align: center;
   	color: white;
   	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	font-size: 13px;
}

.rating {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
}

/* JUMBOTRON ELEMENTS */

#title {
	color: black;
	text-align: center;
	letter-spacing: 10px;
	margin-top: 7%;
	font-family: 'Lora', sans-serif;
}

#title-description {
	color: black;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	letter-spacing: 1.5px;
}

#title-button {
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1.5px;
	position: relative;
	left: 43%;
	background-color: #4C97FF;
	border: none;
}

#title-button:hover {
	background-color: #375D75;
}